<div>
    <button mat-raised-button style="margin:1px;"><mat-icon>add</mat-icon></button>
    <button mat-raised-button style="margin:1px;"><mat-icon>edit</mat-icon></button>
    <button mat-raised-button style="margin:1px;" disabled><mat-icon>delete_forever</mat-icon></button>
    <button mat-raised-button style="margin:1px;" disabled><mat-icon>done</mat-icon></button>
    <button mat-raised-button style="margin:1px;" disabled><mat-icon>done_all</mat-icon></button>
    <button mat-raised-button style="margin:1px;" disabled><mat-icon>clear</mat-icon></button>
    <button mat-raised-button style="margin:1px;" disabled><mat-icon>undo</mat-icon></button>
    <button mat-raised-button style="margin:1px;"><mat-icon>first_page</mat-icon></button>
    <button mat-raised-button style="margin:1px;"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <button mat-raised-button style="margin:1px;"><mat-icon>keyboard_arrow_right</mat-icon></button>
    <button mat-raised-button style="margin:1px;"><mat-icon>last_page</mat-icon></button>
    <button mat-raised-button style="margin:1px;"><mat-icon>search</mat-icon></button>
    <button mat-raised-button style="margin:1px;" disabled><mat-icon>lock_open</mat-icon></button>
    <button mat-raised-button style="margin:1px;" disabled><mat-icon>content_copy</mat-icon></button>
    <button mat-raised-button disabled><mat-icon>file_download</mat-icon></button>
</div>
