<mat-card class="p-0">
    <mat-card-title class="">
        <div class="card-title-text">Units of measurement</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="UnitOfmeasurementForm">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
                    <div class="pb-1">
                        <app-navigation-bar></app-navigation-bar>
                    </div>
                </div>
            </div>
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="UnitId" 
                                   name="UnitId"
                                   formControlName="UnitId"
                                   placeholder="Id" 
                                   value="">
                        </mat-form-field>

                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="UnitCode"
                                   name="UnitCode"
                                   formControlName="UnitCode"
                                   placeholder="Code"
                                   value="">
                        </mat-form-field>
                        <small *ngIf="UnitOfmeasurementForm.controls['UnitCode'].hasError('required') && UnitOfmeasurementForm.controls['UnitCode'].touched"
                               class="form-error-msg"> Unit code is required </small>
                        <small *ngIf="UnitOfmeasurementForm.controls['UnitCode'].hasError('minlength') && UnitOfmeasurementForm.controls['UnitCode'].touched"
                               class="form-error-msg"> Unit code require at least {{UnitOfmeasurementForm.controls['UnitCode'].errors.minlength.requiredLength}} characters </small>
                        <small *ngIf="UnitOfmeasurementForm.controls['UnitCode'].hasError('maxlength') && UnitOfmeasurementForm.controls['UnitCode'].touched"
                               class="form-error-msg"> Unit code can not contain more than {{UnitOfmeasurementForm.controls['UnitCode'].errors.maxlength.requiredLength}} characters </small>
                    </div>

                </div>

                <div fxFlex="100" fxFlex.gt-xs="50">
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="UnitEnglishName"
                                   name="UnitEnglishName"
                                   formControlName="UnitEnglishName"
                                   placeholder="English name">
                        </mat-form-field>
                        <small *ngIf="UnitOfmeasurementForm.controls['UnitEnglishName'].hasError('required') && UnitOfmeasurementForm.controls['UnitEnglishName'].touched"
                               class="form-error-msg"> Unit code is required </small>
                        <small *ngIf="UnitOfmeasurementForm.controls['UnitEnglishName'].hasError('minlength') && UnitOfmeasurementForm.controls['UnitEnglishName'].touched"
                               class="form-error-msg"> English name require at least {{UnitOfmeasurementForm.controls['UnitEnglishName'].errors.minlength.requiredLength}} characters </small>
                        <small *ngIf="UnitOfmeasurementForm.controls['UnitEnglishName'].hasError('maxlength') && UnitOfmeasurementForm.controls['UnitEnglishName'].touched"
                               class="form-error-msg"> English name can not contain more than {{UnitOfmeasurementForm.controls['UnitEnglishName'].errors.maxlength.requiredLength}} characters </small>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="UnitArabicName"
                                   name="UnitArabicName"
                                   formControlName="UnitArabicName"
                                   placeholder="Arabic name">
                        </mat-form-field>
                        <small *ngIf="UnitOfmeasurementForm.controls['UnitArabicName'].hasError('required') && UnitOfmeasurementForm.controls['UnitArabicName'].touched"
                               class="form-error-msg"> Arabic name is required </small>
                        <small *ngIf="UnitOfmeasurementForm.controls['UnitArabicName'].hasError('minlength') && UnitOfmeasurementForm.controls['UnitArabicName'].touched"
                               class="form-error-msg"> Arabic name require at least {{UnitOfmeasurementForm.controls['UnitArabicName'].errors.minlength.requiredLength}} characters </small>
                        <small *ngIf="UnitOfmeasurementForm.controls['UnitArabicName'].hasError('maxlength') && UnitOfmeasurementForm.controls['UnitArabicName'].touched"
                               class="form-error-msg"> Arabic name can not contain more than {{UnitOfmeasurementForm.controls['UnitArabicName'].errors.maxlength.requiredLength}} characters </small>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
