<mat-card class="p-0">
    <mat-card-title class="">
        <div class="card-title-text">Units of measurement</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="UnitOfmeasurementForm">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
                    <div class="pb-1">
                        <app-navigation-bar></app-navigation-bar>
                    </div>
                </div>
            </div>
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="unitId" 
                                   name="unitId"
                                   formControlName="unitId"
                                   placeholder="Id" 
                                   value="">
                        </mat-form-field>

                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="unitCode"
                                   name="unitCode"
                                   formControlName="unitCode"
                                   placeholder="Code"
                                   value="">
                        </mat-form-field>
                        <small *ngIf="UnitOfmeasurementForm.controls['unitCode'].hasError('required') && UnitOfmeasurementForm.controls['unitCode'].touched"
                               class="form-error-msg"> Unit code is required </small>
                        <small *ngIf="UnitOfmeasurementForm.controls['unitCode'].hasError('minlength') && UnitOfmeasurementForm.controls['unitCode'].touched"
                               class="form-error-msg"> Unit code require at least {{UnitOfmeasurementForm.controls['unitCode'].errors.minlength.requiredLength}} characters </small>
                        <small *ngIf="UnitOfmeasurementForm.controls['unitCode'].hasError('maxlength') && UnitOfmeasurementForm.controls['unitCode'].touched"
                               class="form-error-msg"> Unit code can not contain more than {{UnitOfmeasurementForm.controls['unitCode'].errors.maxlength.requiredLength}} characters </small>
                    </div>

                </div>

                <div fxFlex="100" fxFlex.gt-xs="50">
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="unitEnglishName"
                                   name="unitEnglishName"
                                   formControlName="unitEnglishName"
                                   placeholder="English name">
                        </mat-form-field>
                        <small *ngIf="UnitOfmeasurementForm.controls['unitEnglishName'].hasError('required') && UnitOfmeasurementForm.controls['unitEnglishName'].touched"
                               class="form-error-msg"> Unit code is required </small>
                        <small *ngIf="UnitOfmeasurementForm.controls['unitEnglishName'].hasError('minlength') && UnitOfmeasurementForm.controls['unitEnglishName'].touched"
                               class="form-error-msg"> English name require at least {{UnitOfmeasurementForm.controls['unitEnglishName'].errors.minlength.requiredLength}} characters </small>
                        <small *ngIf="UnitOfmeasurementForm.controls['unitEnglishName'].hasError('maxlength') && UnitOfmeasurementForm.controls['unitEnglishName'].touched"
                               class="form-error-msg"> English name can not contain more than {{UnitOfmeasurementForm.controls['unitEnglishName'].errors.maxlength.requiredLength}} characters </small>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="unitArabicName"
                                   name="unitArabicName"
                                   formControlName="unitArabicName"
                                   placeholder="Arabic name">
                        </mat-form-field>
                        <small *ngIf="UnitOfmeasurementForm.controls['unitArabicName'].hasError('required') && UnitOfmeasurementForm.controls['unitArabicName'].touched"
                               class="form-error-msg"> Arabic name is required </small>
                        <small *ngIf="UnitOfmeasurementForm.controls['unitArabicName'].hasError('minlength') && UnitOfmeasurementForm.controls['unitArabicName'].touched"
                               class="form-error-msg"> Arabic name require at least {{UnitOfmeasurementForm.controls['unitArabicName'].errors.minlength.requiredLength}} characters </small>
                        <small *ngIf="UnitOfmeasurementForm.controls['unitArabicName'].hasError('maxlength') && UnitOfmeasurementForm.controls['unitArabicName'].touched"
                               class="form-error-msg"> Arabic name can not contain more than {{UnitOfmeasurementForm.controls['unitArabicName'].errors.maxlength.requiredLength}} characters </small>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
