<mat-card class="p-0">
    <mat-card-title class="">
        <div class="card-title-text">Sales Invoice</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="InvoiceHeaderForm">
            <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between start">
                <div>
                    <app-navigation-bar></app-navigation-bar>
                </div>
            </div>
            <div class="section-frame">
                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between start">
                    <div class="div-label">
                        <mat-form-field class="full-width">
                            <input matInput type="text" class="control-label" readonly value="Id" />
                        </mat-form-field>
                    </div>
                    <div class="control-container">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="invoiceId"
                                   name="invoiceId"
                                   formControlName="invoiceId"
                                   placeholder="Id"
                                   value="">
                        </mat-form-field>
                    </div>
                    <div class="div-label">
                        <mat-form-field class="full-width">
                            <input matInput type="text" class="control-label" readonly value="Document" />
                        </mat-form-field>
                    </div>

                    <div class="control-container">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="documentId"
                                   name="documentId"
                                   formControlName="documentId"
                                   placeholder="Document"
                                   value="">
                        </mat-form-field>

                    </div>
                    <div class="div-label">
                        <mat-form-field class="full-width">
                            <input matInput type="text" class="control-label" readonly value="Type" />
                        </mat-form-field>
                    </div>
                    <div class="three-control-reminder">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="invPOSSalesTypeId"
                                   name="invPOSSalesTypeId"
                                   formControlName="invPOSSalesTypeId"
                                   placeholder="Invoice type">
                        </mat-form-field>

                    </div>

                </div>

                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between start">
                    <div class="div-label">
                        <mat-form-field class="full-width">
                            <input matInput type="text" class="control-label" readonly value="Code" />
                        </mat-form-field>
                    </div>
                    <div class="control-container">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="invoiceCode"
                                   name="invoiceCode"
                                   formControlName="invoiceCode"
                                   placeholder="Code">
                        </mat-form-field>

                    </div>
                    <div class="div-label">
                        <mat-form-field class="full-width">
                            <input matInput type="text" class="control-label" readonly value="Date" />
                        </mat-form-field>
                    </div>
                    <div class="control-container">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="invoiceDate"
                                   name="invoiceDate"
                                   formControlName="invoiceDate"
                                   placeholder="Date">
                        </mat-form-field>

                    </div>
                    <div class="div-label">

                    </div>
                    <div class="three-control-reminder">

                    </div>
                </div>
                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between start">
                    <div class="div-label">
                        <mat-form-field class="full-width">
                            <input matInput type="text" class="control-label" readonly value="Customer" />
                        </mat-form-field>
                    </div>
                    <div class="one-control-reminder">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="custId"
                                   name="custId"
                                   formControlName="custId"
                                   placeholder="Customer">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between start">
                    <div class="div-label">
                        <mat-form-field class="full-width">
                            <input matInput type="text" class="control-label" readonly value="Note" />
                        </mat-form-field>
                    </div>
                    <div class="one-control-reminder">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="note"
                                   name="note"
                                   formControlName="note"
                                   placeholder="Note">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between start">
                    <div class="div-label">
                        <mat-form-field class="full-width">
                            <input matInput type="text" class="control-label" readonly value="Total" />
                        </mat-form-field>
                    </div>
                    <div class="control-container">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="totalAmount"
                                   name="totalAmount"
                                   formControlName="totalAmount"
                                   value="0"
                                   placeholder="Total Amount">
                        </mat-form-field>
                    </div>
                    <div class="div-label">
                        <mat-form-field class="full-width">
                            <input matInput type="text" class="control-label" readonly value="Net" />
                        </mat-form-field>
                    </div>
                    <div class="control-container">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="netAmount"
                                   name="netAmount"
                                   formControlName="netAmount"
                                   value="0"
                                   placeholder="Net Amount">
                        </mat-form-field>

                    </div>
                    <div class="div-label">

                    </div>
                    <div class="three-control-reminder">

                    </div>

                </div>
            </div>
        </form>


        <form [formGroup]="InvoiceDetailsForm">
            <input type="hidden"
                   id="detailsId"
                   name="detailsId"
                   formControlName="detailsId"
                   placeholder="detailsId"
                   value="0">

            <div class="section-frame">
                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between start">
                    <div class="div-label">
                        <mat-form-field class="full-width">
                            <input matInput type="text" class="control-label" readonly value="Item" />
                        </mat-form-field>
                    </div>
                    <div class="one-control-reminder">

                        <mat-form-field class="full-width">
                            <input matInput
                                   id="itemId"
                                   name="itemId"
                                   formControlName="itemId"
                                   placeholder="Item"
                                   value="">
                        </mat-form-field>
                    </div>



                </div>

                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between start">
                    <div class="div-label">
                        <mat-form-field class="full-width">
                            <input matInput type="text" class="control-label" readonly value="Unit" />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="unitId"
                                   name="unitId"
                                   formControlName="unitId"
                                   placeholder="Unit">
                        </mat-form-field>

                    </div>
                    <div class="div-label">
                        <mat-form-field class="full-width">
                            <input matInput type="text" class="control-label" readonly value="Quantity" />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="quantity"
                                   name="quantity"
                                   formControlName="quantity"
                                   placeholder="Quantity">
                        </mat-form-field>

                    </div>
                    <div class="div-label">
                        <mat-form-field class="full-width">
                            <input matInput type="text" class="control-label" readonly value="Price" />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="price"
                                   name="price"
                                   formControlName="price"
                                   placeholder="Price">
                        </mat-form-field>

                    </div>

                </div>
                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between start">
                    <div class="div-label">
                        <mat-form-field class="full-width">
                            <input matInput type="text" class="control-label" readonly value="Total" />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="totalAmount"
                                   name="totalAmount"
                                   formControlName="totalAmount"
                                   placeholder="Total Amount"
                                   value="0">
                        </mat-form-field>
                    </div>
                    <div class="div-label">
                        <mat-form-field class="full-width">
                            <input matInput type="text" class="control-label" readonly value="Net" />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="netAmount"
                                   name="netAmount"
                                   formControlName="netAmount"
                                   placeholder="Net Amount"
                                   value="0">
                        </mat-form-field>
                    </div>
                    <div class="div-label">

                    </div>
                    <div class="three-control-reminder">

                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
