<mat-card class="p-0">
    <mat-card-title class="">
        <div class="card-title-text">Sales Invoice</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="InvoiceHeaderForm">
            <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between start">
                <div>
                    <app-navigation-bar></app-navigation-bar>
                </div>
            </div>
            <div class="section-frame">
                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between start">
                    <div class="div-label">
                        <label id="lblId">Id</label>
                    </div>
                    <div class="control-container">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="invoiceId"
                                   name="invoiceId"
                                   formControlName="invoiceId"
                                   value="">
                        </mat-form-field>
                    </div>
                    <div class="div-label">
                        <label id="lblDocument">Document</label>
                    </div>


                    <div class="control-container">
                        <mat-form-field class="full-width">
                            <select matNativeControl (change)="onDocumentChange($event.target.value)"
                                    id="documentId"
                                    name="documentId"
                                    formControlName="documentId">
                                <option value="0">--- Select a document ---</option>
                                <option *ngFor="let document of documents" [value]="document.id">
                                    {{document.description}}
                                </option>
                            </select>

                        </mat-form-field>

                    </div>
                    <div class="div-label">
                        <label id="lblType">Type</label>
                    </div>
                     
                    <div class="three-control-reminder">
                        <mat-form-field class="full-width">
                            <select matNativeControl
                                    id="invPOSSalesTypeId"
                                    name="invPOSSalesTypeId"
                                    formControlName="invPOSSalesTypeId">
                                <option value="0">--- Select a type ---</option>
                                <option *ngFor="let type of types" [value]="type.id">
                                    {{type.description}}
                                </option>
                            </select>
                        </mat-form-field>

                    </div>

                </div>

                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between start"  class="main-row-container">

                    <div class="div-label">
                        <label id="lblCode">Code</label>
                    </div>
                    <div class="control-container">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="invoiceCode"
                                   name="invoiceCode"
                                   formControlName="invoiceCode">
                        </mat-form-field>

                    </div>
                    <div class="div-label">
                        <label id="lblDate">Date</label>
                    </div>

                    <div class="control-container">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="invoiceDate"
                                   name="invoiceDate"
                                   formControlName="invoiceDate"
                                   [matDatepicker]="picker"
                                   placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                    </div>
                    <div class="div-label">
                    
                    </div>
 
                    <div class="three-control-reminder">

                    </div>
                </div>
                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between start">
                    <div class="div-label">
                        <label id="lblCustomer">Customer</label>
                    </div>
                     
                    <div class="one-control-reminder">
                        <input type="text" aria-label="Number"
                               matInput
                               [formControl]="myControlCustomer"
                               [matAutocomplete]="auto">
                        <!-- CREATE AUTO COMPLETE PANEL WITH OPTIONS. -->
                        <mat-autocomplete  #auto="matAutocomplete">
                            <mat-option *ngFor="let customer of optionsCustomer" [value]="customer.id">
                                {{ customer.description }}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                </div>
                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between start">
                    <div class="div-label">
                        <label id="lblNote">Note</label>
                    </div>
                    
                    <div class="one-control-reminder">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="note"
                                   name="note"
                                   formControlName="note">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between start">
                    <div class="div-label">
                        <label id="lblTotal">Total</label>
                    </div>

                    <div class="control-container">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="totalAmount"
                                   name="totalAmount"
                                   formControlName="totalAmount"
                                   value="0">
                        </mat-form-field>
                    </div>
                    <div class="div-label">
                        <label id="lblNet">Net</label>
                    </div>

                    <div class="control-container">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="netAmount"
                                   name="netAmount"
                                   formControlName="netAmount"
                                   value="0">
                        </mat-form-field>

                    </div>
                    <div class="div-label">
                       
                    </div>
               
                    <div class="three-control-reminder">

                    </div>

                </div>
            </div>
        </form>


        <form [formGroup]="InvoiceDetailsForm">
            <input type="hidden"
                   id="detailsId"
                   name="detailsId"
                   formControlName="detailsId"
                   value="0">
            <div class="section-frame">
                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between start">
                    <div class="div-label">
                        <label id="lblItem">Item</label>
                    </div>
                   
                    <div class="one-control-reminder">
                        <mat-form-field class="full-width">
                            <input id="itemId"
                                   name="itemId"
                                   formControlName="itemId"
                                   type="text"
                                   aria-label="Number"
                                   matInput
                                   [formControl]="myControlItem"
                                   [matAutocomplete]="auto">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                <mat-option *ngFor="let option of optionsItem" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                    </div>



                </div>

                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between start">
                     
                    <div class="div-label">
                        <label id="lblUnit">Unit</label>
                    </div>

                    <div class="control-container">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="unitId"
                                   name="unitId"
                                   formControlName="unitId">
                        </mat-form-field>

                    </div>
                    <div class="div-label">
                        <label id="lblQuantity">Quantity</label>
                    </div>

                    <div  class="control-container">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="quantity"
                                   name="quantity"
                                   formControlName="quantity">
                        </mat-form-field>

                    </div>
                    <div class="div-label">
                        <label id="lblPrice">Price</label>
                    </div>

                    <div  class="three-control-reminder">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="price"
                                   name="price"
                                   formControlName="price">
                        </mat-form-field>

                    </div>

                </div>
                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between start">
                    <div class="div-label">
                        <label id="lblTotalDetails">Total</label>
                    </div>

                    <div  class="control-container">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="totalAmountDetails"
                                   name="totalAmountDetails"
                                   formControlName="totalAmountDetails"
                                   value="0">
                        </mat-form-field>
                    </div>
                    <div class="div-label">
                        <label id="lblNetDetails">Net</label>
                    </div>

                    <div  class="control-container">
                        <mat-form-field class="full-width">
                            <input matInput
                                   id="netAmountDetails"
                                   name="netAmountDetails"
                                   formControlName="netAmountDetails"
                                   value="0">
                        </mat-form-field>
                    </div>
                    <div class="div-label">
                      
                    </div>
                    <div class="three-control-reminder">

                    </div>
                </div>
                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between start">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                </div>
                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between start">
                    <table mat-table [dataSource]="dataSource"  class="details-grid mat-elevation-z8">

                        <!-- Position Column -->
                        <ng-container matColumnDef="Item">
                            <th mat-header-cell *matHeaderCellDef  > Item </th>
                            <td mat-cell *matCellDef="let element"> {{element.Item}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="Unit">
                            <th mat-header-cell *matHeaderCellDef > Unit </th>
                            <td mat-cell *matCellDef="let element"> {{element.Unit}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="Quantity">
                            <th mat-header-cell *matHeaderCellDef > Quantity </th>
                            <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="Price">
                            <th mat-header-cell *matHeaderCellDef > Price </th>
                            <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="Total">
                            <th mat-header-cell *matHeaderCellDef > Total </th>
                            <td mat-cell *matCellDef="let element"> {{element.Total}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  
                </div>

            </div>


        </form>
    </mat-card-content>
</mat-card>
