<div>
    <button mat-raised-button style="margin:1px;" (click)="New()"><mat-icon>add</mat-icon></button>
    <button mat-raised-button style="margin:1px;" (click)="Save()"><mat-icon>save</mat-icon></button>
    <button mat-raised-button style="margin:1px;" [disabled]="IntializedLookupDisabled || NavigationLookupDisabled" (click)="Delete()"><mat-icon>delete_forever</mat-icon></button>
    <button mat-raised-button style="margin:1px;" [disabled]="IntializedLookupDisabled || TransactionDisabled" (click)="Process()"><mat-icon>done</mat-icon></button>
    <button mat-raised-button style="margin:1px;" [disabled]="IntializedLookupDisabled || TransactionDisabled" (click)="Cancel()"><mat-icon>clear</mat-icon></button>
    <button mat-raised-button style="margin:1px;" [disabled]="IntializedLookupDisabled || TransactionDisabled" (click)="UndoProcess()"><mat-icon>undo</mat-icon></button>
    <button mat-raised-button style="margin:1px;" (click)="FirstRecord()"><mat-icon>first_page</mat-icon></button>
    <button mat-raised-button style="margin:1px;" [disabled]="IntializedLookupDisabled || NavigationLookupDisabled" (click)="PreviousRecord()"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <button mat-raised-button style="margin:1px;" [disabled]="IntializedLookupDisabled || NavigationLookupDisabled" (click)="NextRecord()"><mat-icon>keyboard_arrow_right</mat-icon></button>
    <button mat-raised-button style="margin:1px;" (click)="LastRecord()"><mat-icon>last_page</mat-icon></button>
    <button mat-raised-button style="margin:1px;" (click)="Search()"><mat-icon>search</mat-icon></button>
    <button mat-raised-button style="margin:1px;" [disabled]="IntializedLookupDisabled || TransactionDisabled" (click)="LockUnlock()"><mat-icon>lock_open</mat-icon></button>
    <button mat-raised-button style="margin:1px;" [disabled]="IntializedLookupDisabled || TransactionDisabled" (click)="Copy()"><mat-icon>content_copy</mat-icon></button>
    <button mat-raised-button style="margin:1px;" [disabled]="IntializedLookupDisabled || TransactionDisabled" (click)="Upload()"><mat-icon>file_download</mat-icon></button>
    <button mat-raised-button style="margin:1px;" [disabled]="IntializedLookupDisabled || TransactionDisabled" (click)="Upload()"><mat-icon>file_upload</mat-icon></button>
</div>
